<div class="row mt-3"  >
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        <h3>Register</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
              <label for="name" class="form-label">FirstName</label>
              <input type="text" class="form-control"
              formControlName="firstName" [ngClass]="{ 'is-valid': firstName.valid && firstName.touched }"
              >
              <span *ngIf="!firstName.valid && (firstName.touched || userSubmitted)"
              class="error-block">
                Please provide your Firstname
              </span>
          </div>
          <div class="form-group col-12">
            <label for="name" class="form-label">LastName</label>
            <input type="text" class="form-control"
            formControlName="lastName"  [ngClass]="{ 'is-valid': lastName.valid && lastName.touched }"
            >
            <span *ngIf="!lastName.valid && (lastName.touched || userSubmitted)"
            class="error-block" >
              Please provide your Lastname
            </span>
        </div>
        <div class="form-group col-12">
            <label for="name" class="form-label">username</label>
            <input type="text" class="form-control"
            formControlName="username" [ngClass]="{ 'is-valid': username.valid && username.touched }"
            >
            <span *ngIf="!username.valid && (username.touched || userSubmitted)"
            class="error-block">
              Please put  a username 
            </span>
        </div>
  
          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-valid': email.valid && email.touched }">
            <span *ngIf="!email.valid && (email.touched || userSubmitted)" class="error-block">
                <span *ngIf="email.hasError('required')">
                    Please provide email id
                </span>
                <span *ngIf="email.hasError('email')">
                  Please provide valid email id
                </span>
              </span>
          </div>
  
          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-valid': password.valid && password.touched }">
            <span *ngIf="!password.valid && (password.touched || userSubmitted)" class="error-block">
                <span *ngIf="password.hasError('required')">
                  Please provide password
                </span>
                <span *ngIf="password.hasError('pattern')">
                    Password should be at least 8 characters long and contain letters, numbers, and at least one of $#
                </span>
              </span>
          </div>
  
         
          
  
          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary" [disabled]="!registerationForm.valid">Save</button>
            
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>