

    <div id="viewDiv" style="height: 550px; width: 100%;"></div>
    <!-- <div id="basemapStyles" class="esri-widget">
        <calcite-label>Basemap style</calcite-label>
        <select id="styleCombobox" (change)="onSelectChange($event)">
            <option value="arcgis/navigation">arcgis/navigation</option>
            <option value="arcgis/navigation-night">arcgis/navigation-night</option>
            <option value="arcgis/streets">arcgis/streets</option>
            <option value="arcgis/streets-relief">arcgis/streets-relief</option>
            <option value="arcgis/streets-night">arcgis/streets-night</option>
            <option value="arcgis/outdoor">arcgis/outdoor</option>
            <option value="arcgis/imagery">arcgis/imagery</option>
            <option value="arcgis/topographic" selected>arcgis/topographic</option>
            <option value="arcgis/terrain">arcgis/terrain</option>
            <option value="arcgis/oceans">arcgis/oceans</option>
            <option value="arcgis/light-gray">arcgis/light-gray</option>
            <option value="arcgis/dark-gray">arcgis/dark-gray</option>
            <option value="arcgis/human-geography">arcgis/human-geography</option>
            <option value="arcgis/human-geography-dark">arcgis/human-geography-dark</option>
            <option value="arcgis/charted-territory">arcgis/charted-territory</option>
            <option value="arcgis/colored-pencil">arcgis/colored-pencil</option>
            <option value="arcgis/nova">arcgis/nova</option>
            <option value="arcgis/modern-antique">arcgis/modern-antique</option>
            <option value="arcgis/midcentury">arcgis/midcentury</option>
            <option value="arcgis/newspaper">arcgis/newspaper</option>
            <option value="osm/standard">osm/standard</option>
            <option value="osm/standard-relief">osm/standard-relief</option>
            <option value="osm/navigation">osm/navigation</option>
            <option value="osm/navigation-dark">osm/navigation-dark</option>
            <option value="osm/streets">osm/streets</option>
            <option value="osm/hybrid">osm/hybrid</option>
            <option value="osm/light-gray">osm/light-gray</option>
            <option value="osm/dark-gray">osm/dark-gray</option>
            <option value="osm/blueprint">osm/blueprint</option>
          </select>
       
      </div> -->
    



